body{
    background-color: black;
}

h1{
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-decoration: underline;    
    text-align:center;
    background-color: rgb(160, 160, 50);
    margin: 0px;
    
}

.divimg{
    display: flex;
    justify-content: center;
}

img{
    height: 240px;
    width: 1040px;
    margin: 0px;
}


p{
    background-color: black;
    font-family: Verdana;
    font-size: 20px;
    color: white;
    line-height: 21px;
    margin: 0px 60px;
    border-style:solid;
    border-width: 5px;
    
}

a{
    font-size: 30px;
    background-color: blue;
    color: white;
    font-weight:bold;
    text-decoration:underline;
    margin:30px;
}
span{
    font-size: 20px;
    font-family: Impact;
    background-color: rgb(244, 253, 17);
    color: #777777;
    
}